
.imgslide {
    position: center;
}

.prev {
    cursor: pointer;
    position: center;
    top: 10%;
    width: 20px;
    padding: 12px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
    user-select: none;
    background-color: rgba(184, 96, 96, 0.8); 
}

.next {
    cursor: pointer;
    position: center;
    top: 10%;
    width: 20px;
    padding: 12px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
    user-select: none;
    background-color: rgba(184, 96, 96, 0.8); 
}

.pre:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(184, 96, 96, 0.8);
}

.text {
    color: #fafafa;
    font-size: 20px;
    padding: 10px 14px;
    position: center;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: center;
    top: 0;
}

/* resposive */

@media screen and (max-width: 200px) {

    .content-slide {
        padding: 200px 100px 50px 25px;
    }

    .next {
        content: 20px;
        border-radius: 3px 0 0 3px;
    }
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6;
    }

    to {
        opacity: 3;
    }
}

@keyframes fade {
    from {
        opacity: .6;
    }    
    to {
        opacity: 3;
    }
}

.container .page {
    text-align: center;
    padding-top: 100px;
}

.page .dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 1px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;

}

.page .active,
.page .dot:hover {
    background-color: #ffffff;
}

